/*----------------------------*/
/* Grid-View - Responsive */
/*----------------------------*/

* {box-sizing: border-box;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*------------------*/
/* UI for all pages */
/*------------------*/

body{
    font-family: arial, sans-serif;
    background-color: #18394D;
    margin: 0;
    align-items: stretch;
}

/*----------------------*/
/* UI for left-box area */
/*----------------------*/

.left-box{
    margin: 10px;
    border-radius: 1rem;
    background-color: #C1D2DE;
    width: 25%;
    padding: 20px;
    float: left;
}

.content-profile img{
    border-radius: 50%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-profile h1{
    height: 50%;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgb(146, 137, 137);
    font-size: 25px;
}

/*-----------------------*/
/* UI for right-box area */
/*-----------------------*/

.right-box{
    margin: 10px;
    width: 70%;
    float: right;
}

.content-main{
    background-color: #C1D2DE;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

/*-------------------------*/
/* UI for menu/navbar area */
/*-------------------------*/

.nav-menu{
    background-color: #C1D2DE;
    padding: 0.05rem;
    border-radius: 0.5rem;
}

.menu{
    display: inline-block;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    background-color: #5E8399;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1rem;
}

.menu a:hover{
    background-color: #18394D;
}


/*--------------*/
/* Content Home */
/*--------------*/

.content-main-home{
    letter-spacing: 1.7px;
}


/*-----------------*/
/* Content Hobbies */
/*-----------------*/

.content-main-hobbies{
    letter-spacing: 1.7px;
}

/*-----------------*/
/* Content Projects */
/*-----------------*/

.content-main-hobbies{
    letter-spacing: 1.7px;
}


/*-----------------*/
/* Content Contact */
/*-----------------*/

.content-main-hobbies{
    letter-spacing: 1.7px;
}


