/*------------------*/
/* UI for all pages */
/*------------------*/

* {box-sizing: border-box;}

body{
    font-family: arial, sans-serif;
    background-color: #18394D;
    margin: 0;
    align-items: stretch;
}

/*----------------------*/
/* UI for left-box area */
/*----------------------*/

.left-box{
    margin: 10px;
    border-radius: 1rem;
    background-color: #C1D2DE;
    width: 25%;
    padding: 20px;
    float: left;
    text-align: center;
}

.content-profile img{
    border-radius: 50%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-profile h1{
    height: 50%;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #18394D;
    font-size: 25px;
}

.content-academic ul{
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-contact a{
    text-decoration: none;
}

.content-contact a:hover{
    text-decoration: underline;
}

/*-----------------------*/
/* UI for right-box area */
/*-----------------------*/

.right-box{
    margin: 10px;
    width: 70%;
    float: right;
}

.content-main{
    background-color: #C1D2DE;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}
.content-main p{
    line-height: 1.5;
}

/*-------------------------*/
/* UI for menu/navbar area */
/*-------------------------*/

.nav-menu{
    background-color: #C1D2DE;
    padding: 0.05rem;
    border-radius: 0.5rem;
}

.menu{
    display: inline-block;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    background-color: #5E8399;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1rem;
}

.menu a:hover{
    background-color: #18394D;
}


/*--------------*/
/* Content Home */
/*--------------*/

.content-main-home{
    margin: 0 1rem;
    letter-spacing: 1.7px;
}


/*-----------------*/
/* Content Hobbies */
/*-----------------*/

.content-main-hobbies{
    margin: 0 1rem;
    letter-spacing: 1.7px;
}

.content-main-hobbies a{
    text-decoration: none;
}

.content-main-hobbies a:hover{
    text-decoration: underline;
}

/*------------------*/
/* Content Projects */
/*------------------*/

.content-main-projects{
    margin: 0 1rem;
    letter-spacing: 1.7px;
}

.content-main-projects a{
    text-decoration: none;
}

.content-main-projects a:hover{
    text-decoration: underline;
}

.project-card{
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
    padding: 10px;
}

.project-card:hover{
    background-color: #18394d2d;
}

.project-card img{
    width: 100px;
}

.project-card a{
    text-decoration: none;
    color: black;
}


/*-----------------*/
/* Content Contact */
/*-----------------*/

.content-main-contact{
    margin: 1rem;
    letter-spacing: 1.7px;
}

.contact-card{
    display: inline-block;
    margin-right: 2rem;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.contact-card:hover{
    background-color: #18394d2d;
    
}

.contact-card a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.contact-card img{
    width: 80px;
}


/*----------------------------*/
/* Media Queries - Responsive */
/*----------------------------*/

/*  Large devices  */
@media (min-width: 992px) {
    /*  loading...  */
}

/*  Medium devices  */
@media (max-width: 768px) {
    /*  loading...  */
}

/*  Small devices  */
@media (max-width: 576px) {
    .left-box{
        margin: 5%;
        border-radius: 1rem;
        background-color: #C1D2DE;
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    .nav-menu ul{
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    .nav-menu ul li{
        margin: 0;
    }

    .nav-menu a{
        text-align: center;
        font-size: small;
        padding: 5px;
        letter-spacing: 1px;
    }

    .right-box{
        margin: 0 5% 5%;
        width: 90%;
    }

    .content-main-projects{
        text-align: center;
    }

    .project-card {
        margin: 0;
    }

    .project-card img{
        width: 70%;
    }

    .content-main-contact{
        text-align: center;
    }

    .contact-card{
        width: 45%;
        margin: 0;
    }
}