<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eric de Lima</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@ericxlima">
    <meta name="description" content="Challenge for discipline of Introduction to Computing - IF668 at UFPE.">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../img/logo.svg">
</head>
<body>
    <section class="left-box">
        <div class="content-profile">
            <img src="../img/profile.jpeg">
            <h1>Eric de Lima</h1>
        </div>
        <div class="md-content-left-box">
            <div class="content-academic">
                <ul>
                    <li>Software Developer</li>
                    <li>Computer Networking Technician</li>
                    <li>Graduating in Computer Science</li> 
                </ul>
            </div>
            <div class="content-contact">
                <p>Telephone: <a href="https://api.whatsapp.com/send?phone=5587991295683" target="_blank">
                    (87) 99129-5683</a></p>
                <p>E-mail: <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=evl@cin.ufpe.br" 
                    target="_blank">evl@cin.ufpe.br</a></p>
            </div>
        </div>
    </section>

    <section class="right-box">
        <nav class="nav-menu">
            <ul>
                <li class="menu"><a href="../index.html">Home</a></li>
                <li class="menu"><a href="hobbies.html">Hobbies</a></li>
                <li class="menu"><a href="projects.html">Projects</a></li>
                <li class="menu"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <main class="content-main">
            <div class="content-main-hobbies">
                <h2>Photography:</h2>
                <p>This is a recent passion, I don't have much time for it, but I like it a lot, 
                    soon my gallery will be full of my best images.You can meet me on Flickr 
                    as <a href="https://www.flickr.com/photos/193387151@N08/" target="_blank">@ericxlima</a></p>
                <h2>Sports:</h2>
                <p>Running, cycling and gymnastics are my favorite sports. Sports help the body and soul. 
                    In addition to relationships.You can meet me on Instagram 
                    as <a href="https://www.instagram.com/ericdelima_/" target="_blank">@ericdelima_</a></p>
                    <h2>Games:</h2>
                <p>I really enjoy playing strategy and adventure games. You can meet me on Steam 
                    as <a href="https://steamcommunity.com/id/ericxlima/" target="_blank">@ericxlima</a>.</p>
            </div>
        </main>
    </section>

</body>
</html>