<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eric de Lima</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@ericxlima">
    <meta name="description" content="Challenge for discipline of Introduction to Computing - IF668 at UFPE.">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../img/logo.svg">
</head>
<body>
    <section class="left-box">
        <div class="content-profile">
            <img src="../img/profile.jpeg">
            <h1>Eric de Lima</h1>
        </div>
        <div class="md-content-left-box">
            <div class="content-academic">
                <ul>
                    <li>Software Developer</li>
                    <li>Computer Networking Technician</li>
                    <li>Graduating in Computer Science</li> 
                </ul>
            </div>
            <div class="content-contact">
                <p>Telephone: <a href="https://api.whatsapp.com/send?phone=5587991295683" target="_blank">
                    (87) 99129-5683</a></p>
                <p>E-mail: <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=evl@cin.ufpe.br" 
                    target="_blank">evl@cin.ufpe.br</a></p>
            </div>
        </div>
    </section>

    <section class="right-box">
        <nav class="nav-menu">
            <ul>
                <li class="menu"><a href="../index.html">Home</a></li>
                <li class="menu"><a href="hobbies.html">Hobbies</a></li>
                <li class="menu"><a href="projects.html">Projects</a></li>
                <li class="menu"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <main class="content-main">
            <div class="content-main-projects">
                <h2>Best projects:</h2>
                <div class="project-card">
                    <a href="https://github.com/ericxlima/ILoveCoffee" target="_blank">
                        <img src="../img/projects/i-love-coffee-project.png" alt="logo ILoveCoffee"><br>
                    I Love Coffee</a>
                </div>
                <div class="project-card">
                    <a href="https://github.com/ericxlima/Matrix_Processor" target="_blank">
                        <img src="../img/projects/matrix-processor-project.png" alt="logo MatrixProcessor"><br>
                    Matrix Processor</a>
                </div>
                <div class="project-card">
                    <a href="https://github.com/ericxlima/Walmars" target="_blank">
                        <img src="../img/projects/wallmars-project.png" alt="logo Walmars"><br>
                    Walmars</a>
                </div>
                <h2>Other projects:</h2>
                <p>All my projects are available on my Github as 
                    <a href="https://github.com/ericxlima" target="_blank">@ericxlima</a></p>
            </div>
        </main>
    </section>

</body>
</html>